KITE_API_KEY=your_api_key
KITE_API_SECRET=your_api_secret
KITE_ACCESS_TOKEN=generated_daily

GEMINI_API_KEY=optional_for_sentiment

TELEGRAM_BOT_TOKEN=8751980941:AAF5Kwwrewl3HkOEgFp0OryrYidvPHvlS48
TELEGRAM_CHAT_ID=8018635982
